.form_layout td {
    text-align: left;
    vertical-align: top;
    padding: 0 0 8px 0;
}

.form_layout th {
    text-align: left;
    vertical-align: top;
    padding: 0 0 8px 0;
}

.form_layout td.label {
    text-align: right;
    padding-right: 5px;
    padding-left: 5px;
}

.form_layout input.error,
.form_layout select.error,
.form_layout textarea.error
{
    background-color: #FFC;
}
